@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #F7941E;
  --primary-lightcolor: #f1f7ff;
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-offwhite: #fafafa;
  --primary-ligthgrey: #c1c1c1;
  --primary-green: #03a685;
  --primary-yellow: #f9ca24;
  --primary-lightyellow: #fff8dd;
  --primary-red: #e63946;
  --primary-lightred: #ffe8e8;
  --primary-boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
}


.navBar {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: var(--primary-lightcolor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 27px rgb(0 0 0 / 5%);
}

.navLogoAndTitle {
  margin-left: 7rem;
}

.navOptions {
  margin-right: 5rem;
}

.navOption {
  margin-right: 2rem;
  color: var(--primary-black);
  font-weight: bold;
  text-decoration: none;
}

.logoImg {
  height: 3rem;
  width: 13rem;
}

.categoryButtons {
  margin: 1.5rem 0 1.5rem 7rem;
}

.categoryBtn {
  border: 2px solid;
  border-color: var(--primary-color);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin: 0 0 0 1rem;
  background-color: var(--primary-white);
  cursor: pointer;
}

.categoryBtn:hover {
  background-color: var(--primary-color);
  color: var(--primary-white);
}

.categoryBtn:active {
  background-color: var(--primary-color);
  color: var(--primary-white);
}

.videosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.videoCard {
  width: 15rem;
  padding: 0.5rem;
}

.thumbnail {
  width: 15rem;
}

.avatarAndTitle {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 100%;
}

.avatarSm {
  width: 2rem;
}

.videoBoxLink {
  text-decoration: none;
  color: var(--primary-black);
}

.videoTitle {
  margin: 0 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.channelName {
  margin: 0.3rem 0 0.3rem 2.5rem;
  color: var(--primary-ligthgrey);
}

.categoryAndIcon {
  margin: 0 0 0 2.5rem;
  display: flex;
  justify-content: space-between;
}

.categoryName {
  color: var(--primary-ligthgrey);
}

.btn {
  background: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  font-size: 1.1rem;
}

.positionRelativeBtn {
  font-size: 1.2rem;
  position: relative;
  left: 13.8rem;
  bottom: 1.2rem;
}

.watchLaterPage {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0 0;
}

.watchLaterVideoCard {
  padding: 0.5rem;
  display: flex;
  box-shadow: var(--primary-boxshadow);
  border-radius: 1rem;
  width: 35rem;
  margin: 1rem;
}

.watchLaterPageDescription {
  margin: 0 0 0 1rem;
}

.watchLaterImg {
  width: auto;
  margin: 1rem 0 0 0;
}

.watchLaterThumbnail {
  width: 9rem;
  margin: 0 2rem 0 0;
}

.watchLaterTitle {
  font-weight: bold;
}

.watchLaterChannelName {
  color: var(--primary-ligthgrey);
  margin: 0 0 1rem 0;
}

.deleteBtn {
  font-size: 1.1rem;
}

.likesPage {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 0 0;
}

.likeImg {
  width: auto;
  margin: 1rem 0 0 0;
}

.likedVideoCard {
  padding: 0.5rem;
  display: flex;
  box-shadow: var(--primary-boxshadow);
  border-radius: 1rem;
  width: 35rem;
  margin: 1rem;
}

.likedVideosDescription {
  margin: 0 0 0 1rem;
}

.likedVideoThumbnail {
  width: 9rem;
  margin: 0 2rem 0 0;
}

.likedVideoTitle {
  font-weight: bold;
}

.likedVideoChannelName {
  color: var(--primary-ligthgrey);
  margin: 0 0 1rem 0;
}

.uniqueVideoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: start; */
  margin: 0 0 0 1rem;
}

.videoEmbedBox {
  margin: 1rem 0 0 0;
  width: 50rem;
  height: 30rem;
}

.uniqueVideoCategory {
  color: var(--primary-color);
  margin: 0.3rem 0 0 0;
}

.uniqueVideoTitle {
  font-size: 1.4rem;
  font-weight: bold;
}

.uniqueVideoButtons {
  /* margin: 1rem 0 0 0; */
}

.uniqueVideoIcon {
  font-size: 2rem;
  padding: 1rem;
}

.playListInputDiv {
  margin-bottom: 2rem;
}

.playListInput {
  padding: 0.5rem;
  width: 10rem;
}

.addPlayListBtn {
  font-size: 1.5rem;
  /* padding: 0.1rem 0.3rem; */
  margin: 0rem 0 0 0.5rem;
}

.pageHeading {
  margin: 1rem 0 0 1rem;
}

.playListsContainer {
  display: flex;
}

.playListBoxLink {
  text-decoration: none;
  color: var(--primary-black);
}

.playListBox {
  width: 16rem;
  height: 10rem;
  background-color: var(--primary-lightcolor);
  margin: 1rem 0 0 1rem;
}

.playListName {
  font-size: 2rem;
  margin: 1rem;
  display: block;
}